{% extends 'base.html.twig' %}

{% block title %} {{ 'homepage.courses'|trans }} {% endblock %}

{% block body %}

    <div class="container">

        <div class="row mt-5 mb-3">
            <div class="col d-flex align-items-center">
                <h1>{{ 'homepage.courses'|trans }}</h1>
                <a href="{{ path('app_course_new') }}" class="btn btn-primary ms-auto">{{ 'create.course'|trans }}
                    <i class="bi bi-plus-circle m-1"></i>
                </a>
            </div>
        </div>
        <div class="">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ path('app_home') }}">{{ 'index.home'|trans }}</a>
                    </li>
                    <li class="breadcrumb-item active">{{ 'index.home'|trans }} {{ 'datatable.Courses'|trans }}</li>
                </ol>
            </nav>
        </div>


        <div class="card shadow">
            <div class="table-responsive card-body">
                <table id="coursesTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>{{ 'datatable.name'|trans }}</th>
                        <th>{{ 'datatable.Description'|trans }}</th>
                        <th>{{ 'datatable.Duration'|trans }}</th>
                        <th>{{ 'homepage.employees'|trans }}</th>
                        <th>{{ 'homepage.trainers'|trans }}</th>
                        <th>{{ 'datatable.Actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>


    </div>
{% endblock %}
