{% extends 'base.html.twig' %}

{% block title %}CRUDS{% endblock %}

{% block body %}
    <div class="container vh-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-md-4 mb-3">
                <div class="card shadow text-center bg-gradient bg-opacity-75 bg-primary text-white">
                    <div class="card-body">
                        <h5 class="card-title mb-5">{{ 'homepage.employees'|trans }}</h5>
                        <a href="{{ path('app_employee_index') }}" class="btn btn-light btn-outline-dark">{{ 'homepage.employees'|trans }}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card shadow text-center bg-gradient bg-opacity-75 bg-success text-white">
                    <div class="card-body">
                        <h5 class="card-title mb-5">{{ 'homepage.courses'|trans }}</h5>
                        <a href="{{ path('app_course_index') }}" class="btn btn-light btn-outline-dark">{{ 'homepage.courses'|trans }}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card shadow text-center bg-gradient bg-opacity-75 bg-info text-white">
                    <div class="card-body">
                        <h5 class="card-title mb-5">{{ 'homepage.trainers'|trans }}</h5>
                        <a href="{{ path('app_trainer_index') }}" class="btn btn-light btn-outline-dark">{{ 'homepage.trainers'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}