{% extends 'base.html.twig' %}

{% block title %}{{ 'new.employee'|trans }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row mt-5 mb-3">
            <div class="col">
                <h1>{{ 'create.employee'|trans }}</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ path('app_employee_index') }}">{{ 'index.home'|trans }}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{ path('app_employee_index') }}">{{ 'homepage.employees'|trans }}</a>
                        </li>
                        <li class="breadcrumb-item active">{{ 'new.employee'|trans }}</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="card shadow">
            <div class="card-body ">
                {{ include('employee/_form.html.twig') }}

                <div class="row mt-5">
                    <div class="col align-items-center">
                        <a href="{{ path('app_employee_index') }}" class="btn btn-outline-primary"><i class="bi bi-arrow-left"></i> {{ 'cancel'|trans }}</a>
                    </div>
                </div>
            </div>

        </div>


    </div>
{% endblock %}
